.App {
  text-align: center;
  /* App.css */
 
}
.MainContainer {
  display: flex;
  flex-direction: column;
  height: 600px; /* Adjust the height as necessary */
  justify-content: space-between; /* Aligns children: MessageList at the top, button at the bottom */
}
.message-list .message.incoming-message {
  background-color: #63a2e1;
  text-align: left;
}

.message-list .message.outgoing-message {
  background-color: #22ca49;
  text-align: right;
}







.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #121012;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
